node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log
dist
dist-ssr
.git
.gitignore
README.md
.env.keys
.env.local
.env.production
.env.staging
coverage
test-results
playwright-report
blob-report
.DS_Store
*.log
.vscode
.idea
