# UI
GENERATE_SOURCEMAP=false
CI=false
NEXT_PUBLIC_SITE_URL='https://localhost:3000'
NEXT_TELEMETRY_DISABLED=1

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/moodeng"
DO_MIGRATE=true

# Authentication
JWT_SECRET=your_jwt_secret_here
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id
CLIENT_SECRET=your_google_client_secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id

# Email Configuration (Gmail OAuth)
CLIENT_ID=your_google_client_id
EMAIL_USER=your_email@gmail.com
REFRESH_TOKEN=your_refresh_token

# Telegram Bot
TELEGRAM_API_TOKEN=your_TELEGRAM_API_TOKEN
TELEGRAM_API_URL=https://api.telegram.org/bot{YOUR_BOT_TOKEN}/sendMessage
TELEGRAM_WEBHOOK_API=https://api.telegram.org/bot{YOUR_BOT_TOKEN}/setWebhook
TELEGRAM_WEBHOOK_URL=https://yourdomain.com/api/webhook
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot_username

# Environment
NODE_ENV=development
PORT=3000

# CORS Origins
CORS_ORIGINS="http://localhost:3000,https://yourdomain.com"

# Web3 Configuration
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id
NEXT_PUBLIC_ALCHEMY_ID=your_alchemy_id

# World Id
NEXT_PUBLIC_WORLD_ID_APP_ID=app_staging_45afca29a686140c059e725b0d5bc6a4
WORLD_ID_API_KEY=xxx
NEXT_PUBLIC_WORLD_ID_ACTION_ID=verify

# show un verify button
NEXT_PUBLIC_DEV_MODE=true

# OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=xxx-xxxxx.apps.googleusercontent.com
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=begfibot